// colors
$accentColor = #3eaf7c
$accentColorLight = #EDF7F3
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

$fallGreen = #E3E7AF
$fallGreenLight = #F9FAF0
$whiskey = #D4AA7D
$whiskeyLight = #F7EFE7
$periwinkle = #C5D1EB
$periwinkleLight = #F4F6FB
// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
